@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    var externalButtons = new Dictionary<string, (string className, string iconName)>();
    externalButtons.TryAdd("Facebook", new("login100-social-item bg1", "fa fa-facebook"));
    externalButtons.TryAdd("Twitter", new("login100-social-item bg2", "fa fa-twitter"));
    externalButtons.TryAdd("Google", new("login100-social-item bg3", "fa fa-google"));
}

<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
    <form class="login100-form validate-form" id="accoutn" method="post">
        <span class="login100-form-title p-b-49">
            @ViewData["Title"]
        </span>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="wrap-input100 validate-input m-b-23 form-group">
            <label class="label-input100" asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="input100"/>
            <span class="focus-input100" data-symbol="&#xf206;"></span>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="wrap-input100 validate-input form-group">
            <label class="label-input100" asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="input100"/>
            <span class="focus-input100" data-symbol="&#xf190;"></span>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe"/>
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>

        <div class="text-right p-t-8 p-b-20">
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>

        <div class="txt1 text-center p-t-54 p-b-20">
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
        </div>

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button type="submit" class="login100-form-btn">
                    Login
                </button>
            </div>
        </div>

    </form>

    @if ((Model.ExternalLogins?.Count ?? 0) != 0)
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="flex-c-m p-t-8">
            @foreach (var provider in Model.ExternalLogins)
            {
                <button name="provider" value="@provider.Name" type="submit" class="@externalButtons[provider.Name].className">
                    <i class="@externalButtons[provider.Name].iconName"></i>
                </button>
            }
        </form>    }

    @* *@
    @* <div class="flex-c-m"> *@
    @*     <a href="#" class="login100-social-item bg1"> *@
    @*         <i class="fa fa-facebook"></i> *@
    @*     </a> *@
    @* *@
    @*     <a href="#" class="login100-social-item bg2"> *@
    @*         <i class="fa fa-twitter"></i> *@
    @*     </a> *@
    @* *@
    @*     <a href="#" class="login100-social-item bg3"> *@
    @*         <i class="fa fa-google"></i> *@
    @*     </a> *@
    @* </div> *@

    <hr/>
    <div class="flex-col-c p-t-155">
        <a class="txt2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
            Register as a new user
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe"/>
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr/>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}